{% include "layouts/html-header.twig" %}


{% include "partial/loading.twig" %}
{% include "partial/header.twig" %}

<main role="main">
	{% block content %}
		Sorry, no content
	{% endblock %}
</main>

{% block footer %}
	{% include 'partial/footer.twig' %}
	{{ function('wp_footer') }}
{% endblock %}

{% block scripts %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-2GV49TELSJ"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-2GV49TELSJ');
	</script>
{% endblock %}
</body>
</html>
