


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 text-center">
                <div data-module="cta-contacts">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-9 col-xl-7">
                            <p>{{ __("Parlez-nous de vos projets. Nous pouvons réaliser vos idées avec les technologies les plus performantes et les plus innovantes.", "adom") }}</p>
                        </div>
                    </div>
                    <div class="mt-px30">
                        <a href="{{ fn('get_permalink', 408) }}" class="button-with-arrow"><span>{{ __("Parlez a un expert", "adom") }}</span> <svg viewBox="0 0 33 33" class="icon-arrow-circle"><use xlink:href="{{ site.theme.link }}/dist/assets/icons/icons.svg#arrow-circle" /></svg></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
