


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10 text-center">
                <div data-module="cta-contacts">
                    <div class="row justify-content-center">
                        <div class="col-12 col-xl-9">
                            <p>{{__("Besoin d’un collaborateur pour concrétiser vos idées?<br>Nous sommes toujours à la recherche de nouveaux défis!", 'adom')}}</p>
                        </div>
                    </div>
                    <div class="mt-px30">
                        <a href="{{ fn('get_permalink', 408) }}" class="button-with-arrow"><span>{{__("Contactez notre équipe", 'adom')}}</span> <svg viewBox="0 0 33 33" class="icon-arrow-circle"><use xlink:href="{{ site.theme.link }}/dist/assets/icons/icons.svg#arrow-circle" /></svg></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
