

<aside class="cookies">
    <div class="relative darkEl">
        <a href="javascript:void(0);" class="cookies--close"><svg viewBox="0 0 11.549 11.549" class="icon-close cta stuck"><use xlink:href="{{ site.theme.link }}/dist/assets/icons/icons.svg#close-large" /></svg></a>

        <p class="cookies--text">{{__('We use cookies to improve website functionality and performance, ensuring that we give you the best experience on our website. Please click “Accept” to continue browsing the site with full range of features enabled. Learn about our use of cookies in Cookie Policy and our Privacy Policy for more detailed information.', 'calx')}}</p>
        <a href="javascript:void(0);" class="cookies--accept cta"><span>{{__('Accept Cookies', 'calx')}}</span></a>
    </div>
</aside>
